@keyframes animationBurgerText {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes animationBurgerButtonLeft {
  0% {
    left: -200%;
  }



  100% {
    left: 0;

  }
}

@keyframes animationBurgerButtonRight {
  0% {
    right: -200%;
  }


  100% {
    right: 0;

  }
}